#uconn-search {
  position: relative;
}

/* 
  Some properties have to be set specifically per icon
  The icons have different sizes, 
  so the content has to be tweaked a little
*/
#uconn-search-tooltip {
  right: 28px;
}

#uconn-search-tooltip:before {
  content: '';
}

#uconn-search-tooltip:after {
  right: 25px;
}

/* 
  A visually hidden "border" above the icon.
  It will display on hover/focus
*/
#uconn-search:before {
  content: '';
  position: absolute;
  bottom: 30px;
  left: 0;
  width: 100%;
  height: 2px;
  box-shadow: inset 0 2px 0 0 white;
  transition: opacity 0.3s ease-in-out;
  /* use opacity because it's easy to transition */
  opacity: 0;
}

/* 
  when the link is hovered/focused make the "border" opaque 
*/
#uconn-search:hover:before,
#uconn-search:focus:before {
  opacity: 1;
}

/* 
  Create the visual content for hover/focus
  Attach the styles to the sibling div of the hovered element
  Note that because this currently has no content, it also has no height.
  We'll take care of that in a moment...
  For now, doing it this way prevents a problem with overflow


  This selector means - "when the link is hovered/focused, apply the following styles to the div which is a sibling"
*/
#uconn-search:hover + div,
#uconn-search:focus + div {
  background-color: #ededed;
  border-top: 1px solid #ededed;
  color: #000e2f;
  opacity: 1;
  padding: 12px 16px;
  position: absolute;
  top: 60px;
  transition: opacity 0.3s ease-in-out;
  visibility: visible;
  z-index: 1000;
}

/* 
  Set the font styles for the text which will be inserted into the 'before' selector
*/
#uconn-search:hover + div:before,
#uconn-search:focus + div:before {
  font-family: 'Proxima Nova';
  font-size: 14px;
  font-weight: bold;
}

/* 
  This creates a triangle above the text which points at the icon
*/
#uconn-search:hover + div:after,
#uconn-search:focus + div:after {
  border-color: transparent #ededed transparent transparent;
  border-style: solid;
  border-width: 10px 8px 10px 0px;
  bottom: 34px;
  content: '';
  position: absolute;
  transform: rotate(90deg);
}

/* 
  Finally we have content!
  Set the text for this specific tooltip 
*/
#uconn-search:hover + #uconn-search-tooltip:before,
#uconn-search:focus + #uconn-search-tooltip:before {
  content: 'Search UConn'
}

