<a id="home-link" href="https://uconn.edu/">
  <span id="wordmark" aria-hidden="true">UConn</span>
  <span id="university-of-connecticut">University of Connecticut</span>
</a>

<div class="icon-container" id="icon-container-search">
  <a class="btn" id="uconn-search" href="https://uconn.edu/search">
    <span class="no-css">Search University of Connecticut</span>
    <i class="icon-search" aria-hidden="true"></i>
  </a>
  <!-- Content provided by css -->
  <div id="uconn-search-tooltip"></div>
</div>