<!-- <h1 id="uc-identity" title="University of Connecticut">
  <span id="uc-logo">
    <a href="http://uconn.edu">
      <!-- visual UCONN as SVG -->
    <!-- </a>
  </span>
  <span id="uc-title">
    <a href="http://uconn.edu"> -->
      <!-- visual University of Connecticut as SVG -->
    <!-- </a>
  </span>
</h1> -->



<div class="container" style="display: block;">
<h1 id="uc-identity" title="University of Connecticut"> 
  <span id="uc-logo">
    <a href="http://uconn.edu">
<!--[if gte IE 9]><!--> 
      <svg version="1.1" class="uc-header-svg" id="uc-logo-svg" xmlns="http://www.w3.org/2000/svg"
        xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="102.296px" height="20.97px" viewBox="0 0 102.296 20.97"
        enable-background="new 0 0 102.296 20.97" xml:space="preserve">
        <title>UConn Logo</title>
        <g>
          <path d="M0,18.744V0.564h4.423v15.962c1.979,0.593,3.459,0.895,4.438,0.906c0.969,0,2.443-0.302,4.423-0.906V0.564h4.423v18.18c-2.601,1.503-5.549,2.255-8.846,2.255C5.558,20.999,2.604,20.247,0,18.744z"></path>
          <path d="M21.348,18.756V2.26c2.559-1.496,5.5-2.25,8.821-2.26c3.343,0,6.294,0.753,8.853,2.26v5.149H34.6V4.47c-1.367-0.42-2.841-0.629-4.422-0.629c-1.561,0-3.03,0.21-4.407,0.629v12.026c1.366,0.419,2.835,0.628,4.407,0.628c1.582,0,3.056-0.209,4.422-0.628v-3.763h4.422v6.021c-2.577,1.474-5.525,2.211-8.844,2.211C26.873,20.967,23.931,20.23,21.348,18.756z"></path>
          <path d="M42.474,18.756V2.227C45.054,0.753,48.006,0.01,51.327,0c3.323,0,6.273,0.742,8.854,2.228v16.528c-2.578,1.475-5.526,2.211-8.846,2.211C48.011,20.967,45.057,20.23,42.474,18.756z M46.897,16.497c1.411,0.419,2.889,0.628,4.439,0.628c1.538,0,3.012-0.209,4.422-0.628V4.47c-1.388-0.42-2.863-0.629-4.422-0.629c-1.571,0-3.051,0.21-4.439,0.629V16.497L46.897,16.497z"></path>
          <path d="M63.408,0.44h4.729l8.796,14.059h0.097V0.44h4.036v19.805h-4.729L67.541,6.202h-0.13v14.043h-4.002L63.408,0.44L63.408,0.44z"></path>
          <path d="M84.47,0.44h4.729l8.797,14.059h0.097V0.44h4.036v19.805h-4.729L88.602,6.202h-0.129v14.043H84.47V0.44L84.47,0.44z"></path>
        </g>
      </svg>
<!--<![endif]--> 
        <span class="uc-header-fallback" id="uc-logo-fallback"> 
          <img src="https://equity.uconn.edu/wp-content/plugins/uconn-banner/images/uconn.png"
          alt="UCONN"> 
        </span> 
    </a> 
  </span>
  <span id="uc-title"> 
    <a href="http://uconn.edu"> 
      <span id="uc-title-universityof">
        <!--[if gte IE 9]><!--> 
      <svg version="1.1" id="uc-title-universityof-svg" class="uc-sub-svg" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="145.24px" height="12.883px" viewBox="0 0 145.24 12.883"
          enable-background="new 0 0 145.24 12.883" xml:space="preserve">
        <title>University of Connecticut</title>
          <g>
            <path d="M3.513,9.631c0.468,0.583,1.099,0.874,1.892,0.874s1.42-0.292,1.884-0.874C7.75,9.048,7.981,8.252,7.981,7.243V0.289h2.812v7.044c0,1.827-0.504,3.229-1.515,4.208c-1.009,0.979-2.301,1.469-3.874,1.469s-2.867-0.493-3.883-1.478C0.507,10.546,0,9.148,0,7.333V0.289h2.811v6.955C2.811,8.252,3.045,9.048,3.513,9.631z"></path>
            <path d="M23.008,0.289h2.811v12.594h-2.811l-5.999-7.892v7.892h-2.812V0.289h2.63l6.18,8.107V0.289z"></path>
            <path d="M29.404,0.289h2.812v12.594h-2.812V0.289z"></path>
            <path d="M40.45,8.306l3.208-8.018h3.044l-5.063,12.594H39.26L34.197,0.289h3.044L40.45,8.306z"></path>
            <path d="M57.764,0.289v2.504h-6.27v2.595h5.639v2.396h-5.639v2.612h6.468v2.486h-9.28V0.289H57.764z"></path>
            <path d="M71.169,4.468c0,2.019-0.799,3.322-2.396,3.91l3.188,4.504h-3.459L65.71,8.865h-1.945v4.018h-2.812V0.289h4.776c1.957,0,3.354,0.33,4.188,0.991C70.752,1.94,71.169,3.002,71.169,4.468z M67.782,5.964c0.348-0.312,0.522-0.808,0.522-1.487c0-0.679-0.181-1.144-0.541-1.396c-0.36-0.252-0.99-0.378-1.892-0.378h-2.107v3.729h2.054C66.78,6.432,67.434,6.277,67.782,5.964z"></path>
            <path d="M77.485,2.802c-0.271,0.223-0.406,0.517-0.406,0.882c0,0.367,0.166,0.658,0.496,0.874c0.331,0.217,1.093,0.472,2.289,0.767c1.195,0.294,2.123,0.736,2.784,1.325c0.66,0.588,0.99,1.446,0.99,2.576c0,1.129-0.423,2.045-1.27,2.748c-0.847,0.703-1.961,1.054-3.342,1.054c-1.994,0-3.79-0.738-5.388-2.216l1.676-2.054c1.356,1.19,2.612,1.784,3.765,1.784c0.516,0,0.922-0.111,1.216-0.333c0.294-0.221,0.441-0.522,0.441-0.901c0-0.378-0.156-0.678-0.468-0.9c-0.312-0.223-0.932-0.448-1.856-0.676c-1.465-0.348-2.538-0.801-3.216-1.36c-0.678-0.559-1.018-1.435-1.018-2.631c0-1.195,0.429-2.117,1.288-2.766C76.326,0.325,77.398,0,78.684,0c0.84,0,1.682,0.145,2.522,0.432c0.84,0.288,1.574,0.697,2.198,1.226l-1.423,2.054c-1.094-0.829-2.223-1.244-3.388-1.244C78.125,2.468,77.755,2.58,77.485,2.802z"></path>
            <path d="M86.521,0.289h2.811v12.594h-2.811V0.289z"></path>
            <path d="M98.25,2.721v10.162h-2.811V2.721h-3.568V0.289h9.947v2.432H98.25z"></path>
            <path d="M109.781,12.883h-2.811V7.91l-4.36-7.622h3.045l2.72,4.685l2.722-4.685h3.045l-4.361,7.622V12.883z"></path>
            <path d="M131.817,11.144c-1.273,1.244-2.84,1.866-4.703,1.866c-1.861,0-3.429-0.622-4.702-1.866c-1.274-1.242-1.91-2.789-1.91-4.639c0-1.85,0.636-3.397,1.91-4.64C123.685,0.622,125.252,0,127.114,0c1.863,0,3.43,0.622,4.703,1.865c1.274,1.243,1.91,2.79,1.91,4.64C133.727,8.355,133.091,9.901,131.817,11.144z M130.862,6.514c0-1.124-0.359-2.082-1.081-2.874c-0.721-0.793-1.606-1.189-2.657-1.189c-1.052,0-1.937,0.396-2.657,1.189c-0.721,0.792-1.082,1.75-1.082,2.874c0,1.123,0.36,2.078,1.082,2.865c0.72,0.787,1.605,1.179,2.657,1.179c1.051,0,1.937-0.393,2.657-1.179C130.502,8.592,130.862,7.637,130.862,6.514z"></path>
            <path d="M145.24,0.289v2.468h-5.837v2.721h5.549v2.469h-5.549v4.937h-2.812V0.289H145.24z"></path>
          </g>
      </svg>
<!--<![endif]-->
        <span class="uc-header-fallback" id="uc-title-universityof-fallback"> 
          <img src="https://equity.uconn.edu/wp-content/plugins/uconn-banner/images/university-of.png"
            alt="University of"> 
        </span> 
      </span> 
      <span id="uc-title-connecticut">
        <!--[if gte IE 9]><!--> 
        <svg version="1.1" id="uc-title-connecticut-svg" class="uc-sub-svg" xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="139.551px" height="12.979px" viewBox="0 0 139.551 12.979"
          enable-background="new 0 0 139.551 12.979" xml:space="preserve">
          <title>UC Title Fallback</title>
          <g>
            <path d="M6.505,10.34c1.374,0,2.496-0.544,3.368-1.631l1.792,1.845c-1.421,1.602-3.098,2.401-5.026,2.401
                  c-1.93,0-3.519-0.608-4.767-1.828C0.624,9.908,0,8.373,0,6.514c0-1.857,0.636-3.408,1.908-4.65C3.181,0.621,4.736,0,6.577,0
                  c2.054,0,3.774,0.783,5.161,2.348L9.999,4.318C9.115,3.22,8.016,2.669,6.702,2.669c-1.052,0-1.951,0.344-2.697,1.031
                  c-0.748,0.688-1.12,1.612-1.12,2.777s0.352,2.101,1.057,2.805C4.647,9.986,5.501,10.34,6.505,10.34z"></path>
            <path d="M24.62,11.083c-1.266,1.236-2.825,1.854-4.677,1.854c-1.851,0-3.411-0.618-4.676-1.854
                  c-1.267-1.237-1.9-2.773-1.9-4.614c0-1.839,0.633-3.377,1.9-4.614C16.532,0.618,18.092,0,19.943,0c1.852,0,3.412,0.618,4.677,1.855
                  c1.267,1.236,1.899,2.774,1.899,4.614C26.52,8.31,25.887,9.846,24.62,11.083z M23.67,6.478c0-1.117-0.358-2.07-1.075-2.858
                  c-0.717-0.789-1.598-1.183-2.643-1.183c-1.046,0-1.927,0.394-2.644,1.183c-0.716,0.788-1.075,1.741-1.075,2.858
                  s0.359,2.066,1.075,2.85c0.717,0.783,1.598,1.172,2.644,1.172c1.045,0,1.926-0.389,2.643-1.172
              
                  C23.312,8.543,23.67,7.595,23.67,6.478z"></path>
            <path d="M38.131,0.287h2.796v12.526h-2.796l-5.966-7.849v7.849h-2.796V0.287h2.616l6.146,8.062V0.287z"></path>
            <path d="M53.254,0.287h2.796v12.526h-2.796l-5.966-7.849v7.849h-2.796V0.287h2.616l6.146,8.062V0.287z"></path>
            <path d="M68.646,0.287v2.491h-6.235v2.58h5.608v2.384h-5.608v2.598h6.433v2.473h-9.229V0.287H68.646z"></path>
            <path d="M77.569,10.34c1.375,0,2.497-0.544,3.37-1.631l1.791,1.845c-1.419,1.602-3.096,2.401-5.024,2.401
                  c-1.931,0-3.519-0.608-4.767-1.828c-1.249-1.219-1.873-2.755-1.873-4.614c0-1.857,0.636-3.408,1.907-4.65
                  C74.246,0.621,75.802,0,77.643,0c2.054,0,3.772,0.783,5.161,2.348l-1.738,1.971c-0.885-1.099-1.983-1.649-3.297-1.649
                  c-1.052,0-1.952,0.344-2.697,1.031c-0.749,0.688-1.12,1.612-1.12,2.777s0.352,2.101,1.056,2.805
                  C75.712,9.986,76.565,10.34,77.569,10.34z"></path>
            <path d="M90.723,2.706v10.107h-2.794V2.706h-3.55V0.287h9.893v2.419H90.723z"></path>
            <path d="M96.796,0.287h2.796v12.526h-2.796V0.287z"></path>
            <path d="M108.91,10.34c1.375,0,2.497-0.544,3.37-1.631l1.791,1.845c-1.422,1.602-3.098,2.401-5.026,2.401
                  s-3.519-0.608-4.768-1.828s-1.871-2.755-1.871-4.614c0-1.857,0.634-3.408,1.908-4.65C105.587,0.621,107.142,0,108.981,0
                  c2.054,0,3.774,0.783,5.161,2.348l-1.738,1.971c-0.883-1.099-1.983-1.649-3.298-1.649c-1.05,0-1.95,0.344-2.694,1.031
                  c-0.749,0.688-1.12,1.612-1.12,2.777s0.35,2.101,1.056,2.805C107.053,9.986,107.906,10.34,108.91,10.34z"></path>
            <path d="M120.072,9.578c0.467,0.58,1.093,0.869,1.882,0.869c0.789,0,1.412-0.29,1.874-0.869
                  c0.459-0.579,0.688-1.371,0.688-2.374V0.287h2.796v7.007c0,1.815-0.501,3.21-1.505,4.184c-1.003,0.975-2.289,1.46-3.854,1.46
                  c-1.563,0-2.851-0.49-3.862-1.47c-1.009-0.98-1.513-2.37-1.513-4.174V0.287h2.794v6.917C119.374,8.207,119.607,8.999,120.072,9.578
                  z"></path>
            <path d="M136.004,2.706v10.107h-2.796V2.706h-3.548V0.287h9.891v2.419H136.004z"></path>
          </g>
        </svg>
        <!--<![endif]--><span class="uc-header-fallback" id="uc-title-connecticut-fallback"> <img src="https://equity.uconn.edu/wp-content/plugins/uconn-banner/images/connecticut.png"
            alt="Connecticut"> 
      </span> 
    </span> 
    </a> 
  </span>
</h1>
  <div id="uc-utility">
    <ul id="uc-utility-list">
      <li class="uc-utility-item"> <span> <a href="&#10;&#9;&#9;&#9;&#9;&#9;http://uconn.edu/search" class="uc-utility-btn"
            id="uc-search"> <span id="uc-search-button"> <span id="uc-utility-btn-svg">
                <!--[if gte IE 9]><!--> <svg version="1.1" id="uc-utility-btn-search-svg" xmlns="http://www.w3.org/2000/svg"
                  xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="17.267px" height="17.033px" viewBox="0 0 17.267 17.033"
                  enable-background="new 0 0 17.267 17.033" xml:space="preserve">
                  <title>UC Search</title>
                  <path d="M17.267,14.742l-5.323-5.324c0.441-0.857,0.695-1.828,0.695-2.859c0-3.451-2.798-6.25-6.25-6.25
	s-6.25,2.799-6.25,6.25c0,3.453,2.798,6.25,6.25,6.25c1.213,0,2.341-0.35,3.3-0.949l5.229,5.23L17.267,14.742z M2.806,6.559
	c0-1.979,1.604-3.582,3.583-3.582S9.973,4.58,9.973,6.559c0,1.98-1.604,3.584-3.583,3.584S2.806,8.539,2.806,6.559z"></path>
                </svg>
                <!--<![endif]--></span> <span id="uc-utility-btn-fallback"> <img src="https://equity.uconn.edu/wp-content/plugins/uconn-banner/images/search-icon.png"
                  alt="search icon"> </span> </span> </a> </span> </li>
      <li class="uc-utility-item">
        <a href="&#10;&#9;&#9;&#9;&#9;&#9;http://uconn.edu/az/" class="uc-utility-btn" id="uc-utility-btn-az">
          <!--[if gte IE 9]><!--> <svg version="1.1" id="uc-utility-btn-az-svg" xmlns="http://www.w3.org/2000/svg"
            xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px" width="19.7px" height="8.618px" viewBox="0 0 19.7 8.618"
            enable-background="new 0 0 19.7 8.618" xml:space="preserve">
            <title>A-Z List</title>
            <path d="M3.282-0.016h2.042L8.38,8.62H6.423l-0.57-1.775H2.672L2.087,8.62H0.199L3.282-0.016z M3.163,5.357h2.212
			L4.284,1.959L3.163,5.357z"></path>
            <path d="M8.84,3.384h3.268v1.582H8.84V3.384z"></path>
            <path d="M12.864,7.096l4.418-5.582h-4.307v-1.529h6.549v1.447l-4.477,5.664h4.488V8.62h-6.672V7.096z"></path>
          </svg>
          <!--<![endif]--><span id="uc-utility-btn-az-fallback">A-Z</span> </a> </li>
    </ul>
  </div>
</div>