<style>
  .sub-menu {
    display: none;
  }
  .menu-item-has-children:hover .sub-menu {
    display: block;
  }
</style>
<div>
  <ul>
    <li class='menu-item-has-children'>
      <a>About Us</a>
      <ul class='sub-menu'>
        <li>
          <a href="/our-team">Our Team</a></li>
        <li>
          <a href="/our-story">Our Story</a></li>
        <li>
          <a href="/our-projects">Our Projects</a>
        </li>
      </ul>
    </li>
  </ul>
</div>