<!-- 
  arguments passed to wp_nav_menu() can handle
  - using a <nav> tag instead of <div>
    - changing its id/class
  - wrapping the li's with a different ul (maybe containing other attributes)
  - choosing to display the menu or not.
    - useful for wrapping it inside a function and then echoing the result of the function.
 -->

<nav class="menu-all-pages" role="navigation">
  <ul id="menu-all-pages" class="menu">
    <!-- Menu Items -->
  </ul>
</nav>

<li id="menu-item-{unique number}" class="{several classes}">
  <a href="/">Home</a>
</li>

<li id="menu-item-{unique number}" 
  class="no-js {wordpress classes}" 
  data-count="0"
  data-has-children="true">
  <a href="/visit-me" 
    aria-label="Visit Me!, tab to the next button to expand the sub-menu">
    Visit Me!
  </a>
  <button 
    class="submenu-button submenu-toggle" 
    aria-expanded="false" 
    aria-haspopup="true" 
    aria-label="show menu"
    aria-owns="list-0">
  <span class="submenu-icon" aria-hidden="true" data-before="∨"></span>
  </button>
  <ul id="list-0" class="sub-menu">
    <!-- More list items -->
  </ul>
</li>

<li id="menu-item-{unique number}" 
  class="no-js {wordpress classes}"
  data-count="1"
  data-has-children="true">
  <button 
    class="submenu-toggle"
    aria-expanded="false" 
    aria-haspopup="true" 
    aria-label="show menu"
    aria-owns="list-1">
    I go nowhere...but that's ok!
  <span class="submenu-icon" aria-hidden="true" data-before="∨"></span>
  </button>
  <ul id="list-1" class="sub-menu">
    <!-- More list items -->
  </ul>
</li>