<nav class="menu-all-pages">
  <ul id="menu-all-pages" class="menu">
    <!-- Basic Link -->
    <li id="menu-item-{unique number}" class="{several classes}">
      <a href="/">Home</a>
    </li>
    
    <!-- Link item with submenu -->
    <li id="menu-item-{unique number}" class="no-js {wordpress classes}" 
      data-count="0" data-has-children="true">
      <a href="/visit-me" 
        aria-label="Visit Me!, tab to the next button to expand the sub-menu">
        Visit Me!
      </a>
      <button class="submenu-button submenu-toggle" aria-expanded="false" 
        aria-haspopup="true" aria-label="show menu" aria-owns="list-0">
        <span class="submenu-icon" aria-hidden="true" data-before="∨"></span>
      </button>
      <ul id="list-0" class="sub-menu">
        <!-- More list items -->
      </ul>
    </li>

    <!-- Non-linked item with submenu -->
    <li id="menu-item-{unique number}" class="no-js {wordpress classes}" 
      data-count="1" data-has-children="true">
      <button class="submenu-toggle" aria-expanded="false" aria-haspopup="true" 
        aria-label="show menu" aria-owns="list-1">
        I go nowhere...but that's ok!
        <span class="submenu-icon" aria-hidden="true" data-before="∨"></span>
      </button>
      <ul id="list-1" class="sub-menu">
        <!-- More list items -->
      </ul>
    </li>
  </ul>
</nav>