nav {
  li {
    ul {
    height: 0;
    opacity: 0;
    transition: all ease-in 0.5s;
    visibility: hidden;
    }
    &:hover {
      > ul {
        height: auto;
        left: 0%;
        opacity: 1;
        padding: 0;
        position: absolute;
        transition-delay: 0s, 0s, 0.25s;
        top: 100%;
        visibility: visible;
        z-index: 8;
      }
    }
  }
}

nav {
  li {
    span {
      background: transparent;
      border: transparent;
      color: black;
      margin-left: 0.5em;
      padding: 0.1em 0.2em;
      &:before {
        content: attr(data-before);
      }
    }
    &:hover,
    &:focus {
      > button {
        span:before {
          content: '∧';
        }
      }
    }
  }
}

