<!-- 
  Default output of wp_nav_menu() 
  - no arguments or impactful style
  - default output of the Walker_Nav_Menu class 
    - li's
    - a's
    - sub-menu ul's
-->

<div class="menu-all-pages">
  <ul id="menu-all-pages" class="menu">
    <!-- Menu Items -->
  </ul>
</div>




<div class="menu-all-pages">
  <ul id="menu-all-pages" class="menu">
    <!-- Link w/ no sub-menu -->
    <li id="menu-item-{unique number}" class="{several classes}">
      <a href="/">Home</a>
    </li>
    <!-- Link w/ a sub-menu -->
    <li id="menu-item-{unique number}" class="{several classes}">
      <a href="/visit-me">Visit Me!</a>
      <ul class="sub-menu">
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/level-2a">Level 2a</a>
        </li>
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/level-2b">Level 2b</a>
        </li>
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/level-2c">Level 2c</a>
        </li>
      </ul>
    </li>
      <!-- 
        This is where the trouble starts bc 
        - you can't tab onto a link without an href 
        - and screen-readers won't announce that it's there by default.
        - if you set display: none on the sub-menu, the interior links aren't reachable 
      -->
    <!-- Non-link w/ a sub-menu -->
    <li id="menu-item-{unique number}" class="{several classes}">
      <a>I go nowhere...</a>
      <ul class="sub-menu">
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/sub-page-1">Sub Page 1</a>
        </li>
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/sub-page-2">Sub Page 2</a>
        </li>
        <li id="menu-item-{unique number}" class="{several classes}">
          <a href="/sub-page-3">Sub Page 3</a>
        </li>
      </ul>
    </li>
  </ul>
</div>